html {
	overflow-y: scroll;
	font-family: Arial;
}

figure {
	float: right;
	text-align: center;
}

.copyright {
	font-weight:bold;
	color: red;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}

input[type=text], input[type=password], input[type=email] {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
}

.btnBuy, .btnModif, .btnId {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
}

.btnSuppr{
	background-color: #af3922;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.logs{
	grid-area: meta;
    padding : 20px;
    border: 2px solid dimgrey;
    margin-right: 10px;
    float: left;
}

.logsAccept{
    overflow-y: scroll;
    width: 45%;
    height: 500px;
    float: left;
    margin-left: 5px;
}
.logsRefuse{
    overflow-y: scroll;
    width: 45%;
    height: 500px;
    float: right;
    margin-right: 5px;
}
.menu ul li {
	font-size: 1.5em;
	display: inline;

	
}

main ul li a {
	font-size: 1.5em;
	outline: none;
	text-decoration: none;
	display: inline-block;
	margin-right: 0.625%;
	text-align: center;
	line-height: 3;
	color: black;
}

main ul li a:link, main ul li a:visited, main ul li a:focus {
	background: lightgrey;
}

main ul li a:hover {
	background: #bdbdbd;
}

body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 300px auto 100px 300px;
	grid-template-areas:  "header"
							"main"
						"formBuy"
						"formModif";
	background-color: lightgrey;
}

.menu {
	grid-area: header;
	display: grid;
	grid-template-columns: 1fr ;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:  "identhif"
	"liens";
}

.formId {
	grid-area: identhif;
	place-self: center;
	font-size: 1.5em;
}

.menu ul {
	grid-area: liens;
	list-style: none;
	place-self: center;
}

main {
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr ;
	grid-template-rows: 200px 100px auto;
	grid-template-areas:  "titre"
							"player"
							"meta"
							;

}

main h1 {
	grid-area: titre;
	place-self: center;
	font-size:1.2em;

}

main .player {
	grid-area: player;
	place-self: center;
}

main .mp3 {
	grid-area: meta;
	place-self: center;
	font-size:0.8em;

}

.formBuy {
	grid-area: formBuy;
	place-self: center;
	font-size:1.2em;
}

.formModif {
	grid-area: formModif;
	place-self: center;
	font-size:1.2em;
}

@media screen and (min-width: 1100px)
{
	body
	{
		grid-template-columns: 300px  auto 300px;
		grid-template-rows: 200px  auto 400px;
		grid-template-areas:  "header header header"
								"bodyGauche main bodyDroit"
								"formModif formModif formModif"
								;
	}
	.menu {
		grid-area: header;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		grid-template-areas:  "headerGauche liens identhif";
	}

	main {
		grid-area: main;
		display: grid;
		grid-template-columns: 1fr ;
		grid-template-rows: 200px 100px auto;
		grid-template-areas:  "titre"
		"player"
		"meta"
		;

	}

	main h1 {

		font-size:2.5em;
	}

	main .mp3 {
		font-size:1.5em;
	}

	.formBuy {
		grid-area: bodyDroit;
		place-self: center;
		font-size:1.2em;
	}




}






